
{% extends 'my_polls_app/base.html'%}
{% block main_content %}

{% if error_message %}
  <p><strong>{{ error_message}}</strong></p>
{% endif %}

<h1>Question: {{ question.question_text}}</h1>

<!--
<ul>
  {% for choice in question.choice_set.all %}
    <li>{{choice.choice_text}}</li>
  {% endfor %}
</ul>
-->
<!-- show the question list in a form and add a submit button-->
<!--ref: http://www.wibibi.com/info.php?tid=188
    <form action="送出目的地" method="資料傳送方式"> -->
<form action="{% url 'my_polls_app:vote' question.id %}" method="post">
  {% csrf_token %}<!-- csrf_token 是為了要在html 中存取 database 用的-->
  {% for choice in question.choice_set.all  %}
    <input type="radio" name="choice" id='choice{{forloop.counter}}' value="{{choice.id}}" >
    <label for='choice{{forloop.counter}}'>{{choice.choice_text}}</label><br>
  {% endfor%}

  <input type="submit" value="vote123">
</form>
{% endblock %}

<!-- 你action 用 url -> 表示 會送出 127.0.0.0:8000/vote/question.id , 所以會先去 urls.py, 再對應過去 views 的 function-->
