
{% extends 'my_polls_app/base.html'%}
{% block main_content %}
<!-- 你預期會得到 views 中 index function 的 呼叫, 且有個變數latest_N_question 可以用, 因為 return HttpResponse(template.render(context)) 我們自己塞過來的-->
<!-- 我們希望能在 index 中列出所有 問題, 且是以連結顯示-->
<!-- 每個 question obj 有 question_text , published_date 可以用 (check the models.py)-->

<!-- <h1>+++ {% url "my_polls_app:detail"  2 %} +++</h1> -->


{% if latest_N_question %}
  <ul>
    {% for question in latest_N_question %}
      <!-- 如果懷疑為什麼 question.id 可以用, 去 views.py , 那邊有解釋-->
      <!-- <li><a href='/my_polls_app/{{ question.id }}'><b>{{question.question_text}}</b></a></li> -->
      <!-- 把網址改成動態的, 利用 url 這個全域變數-->

      <li><a href="{% url "my_polls_app:detail" question.id  %}" ><b>{{question.question_text}}</b></a></li>

    {% endfor %}
  </ul>
{% else %}
  <p>You don't have any question to show. Please add some.</p>
{% endif %}

{% endblock %}
